---
import { Default } from '@layouts'

export async function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'nl' } },
  ];
}

const { locale } = Astro.params;
---

<Default>
	<h1>{ locale === 'en' ? 'Welcome' : 'Welkom' }</h1>
</Default>
