---
import { Default } from '@layouts';
import { datocms } from '@lib';
import query from './index.query.graphql';

export async function getStaticPaths() {
  return [
    { params: { locale: 'nl' } },
    { params: { locale: 'en' } },
  ];
}
const { locale } = Astro.params;

const { page } = await datocms.request(query, { locale })
---

<Default>
	<h1>{ page.title }</h1>
	<h2>{ page.title }</h2>
	<h3>{ page.title }</h3>
	<h4>{ page.title }</h4>
	<h5>{ page.title }</h5>
	<h6>{ page.title }</h6>
	<p>{ page.title }</p>
	<small>{ page.title }</small>
</Default>