---
const { title, description, level = 2 } = Astro.props;

const Tag = `h${level}`;
---

<div class="title-block layout-text">
  <Tag class:list={["title-block__title"]}>{title}</Tag>
  {description && <p class="title-block__description">{description}</p>}
</div>

<style>
  .title-block__title {
    padding-block: var(--spacing-xl) var(--spacing-lg);
  }
</style>
