---
import { Blocks } from "@blocks";

const { slug, header, content } = Astro.props;
---

<section id={slug} class="section-block layout-text">
  <header class="section-block__header">
    <Blocks blocks={[header]} />
  </header>

  <div class="section-block__content">
    <Blocks blocks={content} />
  </div>
</section>

<style>
  .section-block {
    grid-column: full;
    background-color: var(--color-foreground);
    padding-block: var(--spacing-xl);
  }
</style>
