---
import { Blocks } from "@blocks";

const { slug, backgroundColor, header, content } = Astro.props;
---

<section
  id={slug}
  class:list={[
    "section-block",
    "layout-text",
    { "section-block--with-background-color": backgroundColor },
  ]}
>
  <header class="section-block__header">
    <Blocks blocks={[header]} />
  </header>

  <div class="section-block__content">
    <Blocks blocks={content} />
  </div>
</section>

<style define:vars={{ "background-color": backgroundColor?.hex }}>
  .section-block {
    grid-column: full;
    background-color: var(--background-color);
  }

  .section-block--with-background-color {
    padding-block-end: var(--spacing-xl);
  }
</style>
