---
import { datocms, path } from "@lib/js";
import query from "./Overview.query.graphql";

const { locale } = Astro.params;
const { pageType } = Astro.props;

const { pages } = await datocms.request(query, { locale, pageType });
---

<ul class="overview-block">
  {
    pages.map((page) => (
      <li>
        <article class="overview-card">
          <div class="overview-card__image" />
          <div class="overview-card__content">
            <h2 class="overview-card__title">{page.title}</h2>
            <p class="overview-card__description">{page.description}</p>
          </div>
          <a class="overview-card__link" href={path.get(page)}>
            Read more
          </a>
        </article>
      </li>
    ))
  }
</ul>

<style>
  .overview-block {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0;
    list-style: none;
  }

  @media screen and (min-width: 768px) {
    .overview-block {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 1200px) {
    .overview-block {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .overview-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    height: 100%;
  }

  .overview-card__image {
    opacity: 0.6;
    border-radius: var(--spacing-md);
    background-color: grey;
    aspect-ratio: 1;
    width: 100%;
    height: auto;
  }

  .overview-card:hover .overview-card__image {
    opacity: 1;
  }

  .overview-card__content {
    flex: 1;
  }

  .overview-card__title {
    margin-block-end: var(--spacing-sm);
    font-size: var(--font-size-md);
  }

  .overview-card__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
