:root {
  --w-text: 800px;
  --w-main: 1200px;
}

body {
  display: grid;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  grid-template-columns:
    [full-start] 1fr
    [main-start] minmax(0, var(--w-main))
    [main-end] 1fr
    [full-end];
  column-gap: 1rem;
  min-height: 100dvh;
}

body > header,
body > main,
body > footer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: subgrid;
  grid-column: full;
}

body > header > *,
body > main > *,
body > footer > * {
  grid-column: main;
}

body > header {
  grid-row: header;
}

body > main {
  grid-row: main;
}

body > footer {
  grid-row: footer;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
}

.subgrid > * {
  grid-column: main;
}

.subgrid > .full {
  grid-column: full;
}

.subgrid > .text {
  grid-column: text;
}
