---
import { Image } from "@components";
const { title, image } = Astro.props;
---

<div class="hero-block">
  <div>
    <h1 class="hero-block__title">{title}</h1>
  </div>
  {
    image && (
      <div>
        <Image {...image} />
      </div>
    )
  }
</div>

<style>
  .hero-block {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    place-content: center;
    z-index: -1;
    margin-top: -3.5rem;
    height: 85dvh;
  }

  @media only screen and (min-width: 768px) {
    .hero-block {
      grid-template-columns: minmax(320px, 2fr) minmax(0, 1fr);
      height: 90dvh;
    }
  }

  .hero-block__title {
    font-size: clamp(4rem, 1.6296rem + 11.8519vw, 12rem);
  }

  @media screen and (min-width: 768px) {
    .hero-block__title {
      font-size: clamp(4rem, 2.2222rem + 10vw, 10rem);
    }
  }
</style>
