---
import { StructuredText } from "@components";
const { title } = Astro.props;
---

<div class="hero-block">
  <StructuredText {...title} />
</div>

<style>
  .hero-block {
    margin-block-start: 4rem;
    padding-block-start: -4rem;
    height: 100dvh;
    display: flex;
    align-items: center;
  }
</style>
