:root[data-theme="system"] {
  color-scheme: dark light;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --c-background: #0D1B2A;
  --c-foreground: #1B263B;
  --c-highlight: #5979B3;
  --c-text: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #0D1B2A;
    --c-foreground: #1B263B;
    --c-highlight: #5979B3;
    --c-text: #FFFFFF;
  }
}

:root[data-theme="light"] {
  color-scheme: light;

  --c-background: #FFFFFF;
  --c-foreground: #E0E1DD;
  --c-highlight: #C4CFE4;
  --c-text: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --c-background: #FFFFFF;
    --c-foreground: #E0E1DD;
    --c-highlight: #C4CFE4;
    --c-text: #000000;
  }
}

body {
  background-color: var(--c-background);
}