---
import { Default } from "@layouts";
import { Icon } from "@components";
---

<Default>
  <h1>Home <Icon name="home" /></h1>

  <Icon name="codepen" />
  <Icon name="discord" />
  <Icon name="github" />
  <Icon name="home" />
  <Icon name="instagram" />
  <Icon name="linkedin" />
  <Icon name="magnifying-glass" />
  <Icon name="mastodon" />
  <Icon name="x" />
</Default>
