---
const { items } = Astro.props;
---

<div class="layout-text">
  <ul class="timeline">
    {
      items.map(({ title, description }) => (
        <li class="timeline-item">
          <h3 class="timeline-item__title">{title}</h3>
          <p class="timeline-item__description">{description}</p>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .timeline {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    margin-inline-start: 0.5em;
    border-left: 2px solid white;
    padding: 0;
    list-style-type: none;
  }

  .timeline-item {
    padding-inline-start: var(--spacing-md);
  }

  .timeline-item__title {
    position: relative;
    margin-block-end: var(--spacing-sm);
  }

  .timeline-item__title::before {
    position: absolute;
    top: 50%;
    left: calc(var(--spacing-md) * -1);
    translate: calc(-50% - 1px) -50%;
    border-radius: 50%;
    background-color: currentColor;
    width: var(--font-size-base);
    height: var(--font-size-base);
    content: "";
  }
</style>
