---
import { StructuredText } from "@components";

const { text } = Astro.props;
---

<div class="text-block">
  <StructuredText {...text} />
</div>

<style is:global>
  .text-block h1 {
    margin-block-end: var(--spacing-xl);
  }

  .text-block h2 {
    margin-block-end: var(--spacing-lg);
  }

  .text-block h3 {
    margin-block-end: var(--spacing-md);
  }

  .text-block h4 {
    margin-block-end: var(--spacing-base);
  }

  .text-block h5 {
    margin-block-end: var(--spacing-sm);
  }

  .text-block h6 {
    margin-block-end: var(--spacing-xs);
  }

  .text-block p {
    margin-block-end: var(--spacing-base);
  }
</style>
