---
import { Nav, Socials } from "@components";

const { app } = Astro.props;
---

<footer class="footer">
  <Socials items={app.socials} />
  <div class="footer__top">
    <p class="copyright-disclaimer">{app.copyrightDisclaimer}</p>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--color-hover);
    padding-block: var(--spacing-xl) var(--spacing-base);
  }

  .copyright-disclaimer {
    hyphens: none;
    text-align: center;
  }
</style>
