---
import { Socials } from "@components";
import { translate } from "@lib/js/i18n";

const { app } = Astro.props;

const github = await fetch("https://api.github.com/users/luukbrauckmann");
const githubData = await github.json();

---

<footer class="footer">
  <div>
    <p>{ githubData.public_repos } {translate("public_repos")}</p>
  </div>
  <Socials items={app.socials} />
  <div class="footer__top">
    <p class="copyright-disclaimer">{app.copyrightDisclaimer}</p>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--color-hover);
    padding-block: var(--spacing-xl) var(--spacing-base);
  }

  .copyright-disclaimer {
    hyphens: none;
    text-align: center;
  }
</style>
