---
import { Nav } from "@components";

const { nav } = Astro.props;
---

<footer class="footer">
  <div class="footer__top">
    <div>
      <svg
        width="47"
        height="47"
        viewBox="0 0 47 47"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_563_207)">
          <path
            d="M33.5506 32.9273C33.5175 32.9594 33.4844 32.9915 33.4514 33.0182C33.4321 33.0369 33.4128 33.0556 33.3934 33.0717C33.3879 33.0797 33.3797 33.0877 33.3741 33.0931C33.3438 33.1225 33.3107 33.1519 33.2776 33.184C33.2418 33.2188 33.2032 33.2509 33.1674 33.283C32.7762 33.5939 32.2862 33.764 31.7804 33.7644C30.5755 33.7644 29.5994 32.8176 29.5994 31.6516C29.5994 31.0846 29.8283 30.5711 30.206 30.1914C30.2088 30.186 30.2115 30.1833 30.2198 30.178C30.2501 30.1459 30.2832 30.1165 30.3163 30.0897L30.3549 30.055L30.4735 29.9373C33.7491 26.835 34.2758 22.0184 32.1334 18.2715H32.1361C33.1839 18.3625 34.2537 18.087 35.1361 17.4451C35.2436 17.3676 35.3484 17.2847 35.4504 17.1964C35.6982 16.9811 35.9185 16.7378 36.1066 16.4717C38.9604 21.783 38.1498 28.4637 33.5506 32.9273ZM7.20754 13.3774C5.2802 16.3994 4.33721 19.8468 4.38133 23.286C4.38408 23.3235 4.38408 23.3582 4.38408 23.3957V23.4305C4.37468 23.9883 4.13959 24.5202 3.72951 24.9114C3.31944 25.3027 2.76725 25.5219 2.19204 25.5218C1.05604 25.5218 0.124082 24.6848 0.0110337 23.6123C0.00827644 23.5963 0.00827644 23.5775 0.00827644 23.5588C0.00276188 23.4679 0.00276188 23.377 0.00276188 23.286C-0.0496265 18.9107 1.20769 14.5167 3.76921 10.711C3.77472 10.703 3.77748 10.6976 3.783 10.6896C4.1056 11.3716 4.58537 11.9626 5.17267 12.4226C5.29317 12.5167 5.41831 12.6051 5.54766 12.6874C5.5642 12.6981 5.58074 12.7061 5.59453 12.7168C5.71034 12.7917 5.83166 12.8585 5.95298 12.9227C6.01364 12.9521 6.07154 12.9816 6.12944 13.0083C6.47135 13.1661 6.83531 13.2864 7.21581 13.3667C7.21306 13.3693 7.2103 13.3747 7.20754 13.3774Z"
            fill="currentColor"
            fill-opacity="0.4"></path>
          <path
            d="M42.7655 35.3503C42.7655 35.3503 42.7599 35.3636 42.7544 35.369C42.4236 34.671 41.93 34.0692 41.3206 33.6066L41.3041 33.5905C41.2076 33.521 41.1111 33.4515 41.0091 33.3873C41.0036 33.3819 40.9953 33.3766 40.9898 33.3712C40.8822 33.3044 40.7719 33.2402 40.6589 33.1787C40.6065 33.1492 40.5541 33.1225 40.499 33.0958C40.1295 32.9166 39.7352 32.7802 39.3216 32.6946C39.3244 32.6892 39.3271 32.6866 39.3299 32.6812C43.8463 25.6128 42.9612 16.1935 36.6388 10.0638C31.3889 4.97706 23.5858 3.35637 16.6733 5.84624C16.4803 5.9131 16.2762 5.95322 16.0639 5.96392H16.0529C16.0171 5.96659 15.9812 5.96659 15.9454 5.96659C14.746 5.96659 13.7726 5.0252 13.7726 3.86451C13.7726 3.5623 13.836 3.27881 13.9546 3.02207C14.0796 2.74519 14.2643 2.49756 14.4965 2.29593C14.7286 2.0943 15.0027 1.94337 15.3002 1.85336C23.7926 -1.16872 33.2914 0.815686 39.7297 7.07379C47.6486 14.7574 48.6523 26.605 42.7655 35.3503Z"
            fill="currentColor"
            fill-opacity="0.4"></path>
          <path
            d="M29.9965 10.6067C29.8283 10.7217 29.6656 10.8527 29.5112 10.9998C29.4864 11.0185 29.4643 11.0373 29.4423 11.0613L29.4367 11.064C29.3844 11.1148 29.3347 11.1656 29.2879 11.2164C29.2355 11.2699 29.1886 11.3261 29.1417 11.3796C29.0948 11.4357 29.0507 11.4946 29.0066 11.5507C28.9735 11.5962 28.9377 11.6444 28.9046 11.6925C28.8743 11.7353 28.8467 11.7807 28.8191 11.8235C28.309 12.6152 28.0995 13.5325 28.1794 14.4311C24.1621 12.2354 19.1162 12.9307 15.8792 16.1293C13.0061 18.908 12.2589 22.9758 13.6044 26.4659C13.6155 26.49 13.6237 26.514 13.632 26.5408C13.6375 26.5568 13.6458 26.5729 13.6486 26.5916C13.7313 26.8029 13.7726 27.0329 13.7726 27.2736C13.7726 27.5442 13.7176 27.8122 13.6108 28.0623C13.5039 28.3123 13.3473 28.5394 13.1498 28.7307C12.9524 28.9219 12.718 29.0735 12.4601 29.1769C12.2022 29.2802 11.9258 29.3332 11.6468 29.3329C11.5889 29.3329 11.531 29.3302 11.4731 29.3248C11.0868 29.2945 10.7165 29.162 10.4025 28.9418C10.0884 28.7216 9.84265 28.4221 9.69185 28.0759C9.68634 28.0652 9.68082 28.0545 9.67807 28.0438C9.66152 28.0064 9.64774 27.9689 9.63671 27.9315C9.62835 27.9174 9.62274 27.902 9.62016 27.886C9.04113 26.375 8.7268 24.7409 8.7268 23.032C8.7268 15.2388 15.2423 8.92716 23.2687 8.92716C25.5931 8.92716 27.8899 9.5289 29.9965 10.6067Z"
            fill="currentColor"
            fill-opacity="0.4"></path>
          <path
            d="M11.9528 5.08404C9.97036 3.15045 6.74434 3.15045 4.75634 5.07869C3.18469 6.6031 2.85657 8.87367 3.76923 10.711C4.00912 11.2004 4.33999 11.6577 4.75634 12.0642C4.88869 12.1926 5.02931 12.313 5.17269 12.4226C5.29319 12.5167 5.41834 12.6051 5.54768 12.6874C5.56422 12.6981 5.58077 12.7061 5.59455 12.7168C5.71036 12.7917 5.83168 12.8585 5.953 12.9227C6.01366 12.9521 6.07156 12.9816 6.12947 13.0083C6.47413 13.1741 6.83809 13.2971 7.20756 13.3774C8.86193 13.7491 10.668 13.3105 11.9528 12.0642C13.9408 10.136 13.9408 7.01229 11.9528 5.08404ZM23.186 17.389C20.0593 17.389 17.3709 19.919 17.4509 23.032C17.4509 24.7275 18.2257 26.252 19.4499 27.2736C20.0207 27.7496 20.6879 28.1187 21.4214 28.3433C22.0031 28.5225 22.6235 28.6108 23.2687 28.5947C23.5031 28.5894 23.7347 28.5707 23.9636 28.5386C24.6391 28.453 25.2788 28.2631 25.8606 27.985C27.7714 27.0783 29.0866 25.241 29.0866 23.032C29.0039 19.919 26.4782 17.389 23.186 17.389ZM42.7655 35.3503C42.5284 34.8609 42.1975 34.4035 41.7839 33.9997C41.6377 33.858 41.4806 33.7269 41.3207 33.6066L41.3041 33.5905C41.2076 33.521 41.1111 33.4515 41.0091 33.3873C41.0036 33.3819 40.9953 33.3766 40.9898 33.3712C40.8823 33.3044 40.772 33.2402 40.6589 33.1787C40.6065 33.1492 40.5541 33.1225 40.499 33.0958C40.124 32.9059 39.7325 32.7668 39.3299 32.6812C37.6783 32.3122 35.8723 32.7508 34.5846 33.9997C32.5966 35.9253 32.5966 39.0517 34.5846 40.9799C36.5726 42.9082 39.7959 42.9082 41.7839 40.9799C42.7737 40.0198 43.2701 38.7575 43.2701 37.4952C43.2701 36.7597 43.1019 36.0269 42.7655 35.3503Z"
            fill="currentColor"></path>
          <path
            d="M36.1066 16.4717C35.9185 16.7378 35.6982 16.9811 35.4504 17.1964C35.3484 17.2847 35.2436 17.3676 35.1361 17.4451C34.2537 18.087 33.1839 18.3625 32.1362 18.2715H32.1334C31.149 18.186 30.1923 17.7794 29.4395 17.0467C28.7153 16.3457 28.2692 15.4196 28.1795 14.4311C28.0995 13.5325 28.309 12.6152 28.8191 11.8235C28.8467 11.7808 28.8743 11.7353 28.9046 11.6925C28.9377 11.6444 28.9735 11.5962 29.0066 11.5508C29.0508 11.4946 29.0949 11.4358 29.1417 11.3796C29.1886 11.3261 29.2355 11.2699 29.2879 11.2165C29.3403 11.163 29.3899 11.1122 29.4423 11.0613C29.4643 11.0373 29.4864 11.0185 29.5112 10.9998C29.6656 10.8527 29.8283 10.7217 29.9965 10.6067C31.7005 9.4246 34.08 9.57704 35.6103 11.0613C37.1296 12.5349 37.295 14.8216 36.1066 16.4717Z"
            fill="currentColor"></path>
          <path
            d="M11.5144 43.4965V47H0.00830078V30.8466H4.37859V43.4965H11.5144ZM28.0278 42.2101C27.9864 41.2179 27.6694 40.4049 27.0738 39.7711C26.5637 39.2282 25.8771 38.8431 25.0224 38.605C25.2485 38.5168 25.4608 38.4178 25.6593 38.3002C26.0591 38.0702 26.4038 37.784 26.696 37.4443C27.2696 36.7731 27.5563 35.9627 27.5563 35.016C27.5563 34.4651 27.4653 33.9623 27.2806 33.5103C27.0352 32.9086 26.6271 32.3951 26.0563 31.9672C25.0555 31.221 23.6272 30.8466 21.7688 30.8466H13.6872V47H22.028C22.4002 47 22.7586 46.9839 23.0978 46.9492C24.4599 46.8208 25.5683 46.4303 26.4231 45.7751C27.4929 44.9594 28.0306 43.8388 28.0306 42.4187C28.0306 42.3492 28.0306 42.2797 28.0278 42.2101ZM17.87 33.9409H20.9664C21.7908 33.9409 22.3974 34.0692 22.7835 34.3313C22.789 34.3313 22.7917 34.3367 22.7972 34.3394C23.1833 34.6095 23.3763 35.024 23.3763 35.5883C23.3763 36.1526 23.1833 36.5752 22.7972 36.8506C22.4112 37.1261 21.7991 37.2625 20.9664 37.2625H17.87V33.9409ZM23.7899 42.7905C23.6961 43.074 23.5307 43.3013 23.2936 43.4724C22.891 43.764 22.2816 43.9084 21.4627 43.9084H17.87V40.3568H21.4627C22.2816 40.3568 22.891 40.4932 23.2936 40.7686C23.6934 41.0441 23.8946 41.4934 23.8946 42.1192C23.8946 42.3706 23.8615 42.5926 23.7899 42.7905Z"
            fill="currentColor"></path>
        </g>
        <defs>
          <clipPath id="clip0_563_207">
            <rect width="47" height="47" fill="currentColor"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>

    <Nav links={nav} />
  </div>
  <p>&copy; Luuk Brauckmann</p>
</footer>

<style>
  .footer {
    padding-block: var(--spacing-xl);
  }

  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
