---
import { Icon } from "@components";
---

<ul class="locale-selector">
  <li>
    <a class="locale-selector__item" href="/nl">
      <Icon name="nl" />
      <span>NL</span>
    </a>
  </li>
  <li>
    <a class="locale-selector__item" href="/en">
      <Icon name="en" />
      <span>EN</span>
    </a>
  </li>
</ul>

<style>
  .locale-selector {
    display: flex;
    gap: var(--sp-sm);
    padding: 0px;
    list-style: none;
  }

  .locale-selector__item {
    color: #fff;
  }
</style>
