---
import { site } from "@lib/data";

const { locale } = Astro.params;
const locales = site.locales.filter((siteLocale) => siteLocale !== locale);
---

<ul class="locale-selector">
  {
    locales.map((locale) => (
      <li>
        <a class="locale-selector__link" href={`/${locale}/`}>
          {locale}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .locale-selector {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  @media screen and (min-width: 768px) {
    .locale-selector {
      flex-direction: row;
    }
  }

  .locale-selector__link {
    display: inline-block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
  }
</style>
