---
import { Icon } from "@components";
---

<ul>
  <li>
    <a href="/nl">
      <Icon name="nl" />
      <span>NL</span>
    </a>
  </li>
  <li>
    <a href="/en">
      <Icon name="en" />
      <span>EN</span>
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    gap: var(--sp-sm);
    padding: 0px;
    list-style: none;
  }
</style>
