---
import { Icon, Link } from "@components";
import { site } from "@lib/data";
import { translate } from "@lib/js/i18n";

const { locale } = Astro.params;
let { slugs } = Astro.props;

if (slugs) {
  slugs = slugs.filter((slug) => slug.locale !== locale);
} else {
  slugs = site.locales
    .map((locale) => ({ locale, value: "" }))
    .filter((slug) => slug.locale !== locale);
}
---

<ul class="locale-selector">
  {
    slugs.map((slug: { locale: string }) => (
      <li>
        <Link class="locale-selector__link" {slug}>
          <Icon name={slug.locale} />
          {translate(slug.locale)}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  .locale-selector {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }

  @media screen and (min-width: 768px) {
    .locale-selector {
      flex-direction: row;
    }
  }

  .locale-selector__link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: var(--spacing-md);
    color: inherit;
    font-family: var(--font-family-title);
    text-decoration: none;
  }

  .locale-selector__link:hover {
    background-color: var(--color-hover);
  }

  .locale-selector__link:focus {
    outline-offset: -0.25rem;
  } 
</style>
