---
import "@assets/css";
import { Footer, Header } from "@layouts";
import { IconSprite, Preload, Seo } from "@components";

const { locale } = Astro.params;
const { app, site, page } = Astro.props;
---

<html lang={locale} data-theme="system">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Seo tags={[...site.faviconMetaTags, ...page._seoMetaTags]} />

    <Preload />
  </head>
  <body>
    <Header nav={app.nav} />

    <main class="body__main">
      <slot />
    </main>

    <Footer />

    <IconSprite />
  </body>
</html>
