---
import "@assets/css"

const { locale } = Astro.params;
---

<html lang={locale} data-theme="system">
  <head>
    <meta charset="utf-8" />

    <link media="(prefers-color-scheme: dark)" rel="icon" type="image/svg+xml" href="/favicon-dark.svg" />
    <link media="(prefers-color-scheme: light)" rel="icon" type="image/svg+xml" href="/favicon-light.svg" />
    
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" href="/fonts/OpenSans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/OpenSans-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/PixelifySans.woff2" as="font" type="font/woff2" crossorigin>

    <title>Luuk Brauckmann</title>
  </head>
  <body>
    <slot />
  </body>
</html>