---
import { CopyLeft } from "@components";
---

<footer class="body__footer">
  <div>
    <CopyLeft />
    2024 Luuk Brauckmann. All rights reserved.
  </div>
</footer>

<style>
  .body__footer {
    grid-column: full;
    background-color: var(--c-foreground);

    display: grid;
    grid-template-columns: subgrid;

    padding-block: 1.5rem;
  }

  .body__footer > * {
    grid-column: main;
  }
</style>
