---
import { LocaleSelector, Nav, ThemeSelector } from "@components";
import { Icon } from "astro-icon/components";

const  { locale } = Astro.params
---

<header>
  <div class="header__content">
    <a class="logo" href={`/${locale}/`}>
      <Icon name="logo" height={56} width={56} />
    </a>

    <div class="nav">
      <Nav />
    </div>
    
    <div class="config">
      <LocaleSelector />
      <ThemeSelector />
    </div>
  </div>
</header>

<style>
  header {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }

  .header__content {
    grid-column: main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .nav {
    flex: 1;
  }
  
  .config {
    display: flex;
  }
</style>