---
import { LocaleSelector, Nav, ThemeSelector } from "@components";
import { Icon } from "@components";

const  { locale } = Astro.params
---

<header>
  <div class="header__content">
    <a class="logo" href={`/${locale}/`}>
      <span class="a11y">Home</span>
      <Icon name="logo" size="3em" />
    </a>

    <div class="nav">
      <Nav />
    </div>
    
    <div class="config">
      <LocaleSelector />
      <ThemeSelector />
    </div>
  </div>
</header>

<style>
  header {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }

  .header__content {
    grid-column: main;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .header__content {
      flex-direction: row;
      align-items: center;
    }
  }

  .logo {
    color: var(--c-text);
    line-height: 0;
  }

  .nav {
    flex: 1;
  }
  
  .config {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .config {
      flex-direction: row;
    }
  }
</style>