---
import { Icon, Link, LocaleSelector } from "@components";
import { paths } from "@lib/js/i18n";

const { locale } = Astro.params;
let { links, currentPageSlugs } = Astro.props;
links = links.map((link) => {
  if (link.link.__typename === "HomeRecord") {
    link.slug = { locale };
  } else {
    link.slug = paths(link.link).filter((path) => path.locale === locale)[0];
  }
  return link;
});
---

<enhanced-nav>
  <nav class="nav">
    <button class="toggle-button" aria-expanded="false" aria-controls="menu">
      <Icon name="bars" />
      <span class="a11y-sr">Menu</span>
    </button>

    <div id="menu" class="expandabble-menu">
      <ul class="nav-list">
        {
          links.map((link) => (
            <li>
              {
                <Link class="nav-list__link" {...link}>
                  <Icon name={link.icon} />
                  <span class="title">{link.title}</span>
                </Link>
              }
            </li>
          ))
        }
      </ul>

      <LocaleSelector slugs={currentPageSlugs} />
    </div>
  </nav>
</enhanced-nav>

<script src="./Nav.client.js"></script>

<style>
  .nav {
    display: flex;
    align-items: center;
    position: relative;
  }

  .toggle-button {
    padding: var(--spacing-md);
    background-color: transparent;
    border: none;
    line-height: 1;
  }

  .toggle-button:hover {
    background-color: var(--color-hover);
  }

  .toggle-button:focus {
    outline-offset: -0.25rem;
  }

  @media screen and (min-width: 768px) {
    .toggle-button {
      display: none;
    }
  }

  .expandabble-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: var(--color-foreground);
  }

  .toggle-button[aria-expanded="true"] + .expandabble-menu {
    display: block;
  }

  .toggle-button[aria-expanded="false"] + .expandabble-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .toggle-button[aria-expanded="true"] + .expandabble-menu,
    .toggle-button[aria-expanded="false"] + .expandabble-menu {
      display: flex;
      position: initial;
      background-color: transparent;
    }
    
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }

  @media screen and (min-width: 768px) {
    .nav-list {
      flex-direction: row;
    }
  }

  .nav-list__link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: var(--spacing-md);
    color: inherit;
    font-family: var(--font-family-title);
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
  }

  .nav-list__link:hover {
    background-color: var(--color-hover);
  }

  .nav-list__link:focus {
    outline-offset: -0.25rem;
  }
</style>
