---
import { Link } from "@components";
import { paths } from "@lib/js/i18n";

const { locale } = Astro.params;
let { links } = Astro.props;
links = links.map((link) => {
  link.slug = paths(link.link).filter((path) => path.locale === locale)[0];
  return link;
});
---

<ul class="nav">
  {links.map((link) => <li>{<Link class="nav__link" {...link} />}</li>)}
</ul>

<style>
  .nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }

  @media screen and (min-width: 768px) {
    .nav {
      flex-direction: row;
    }
  }

  .nav__link {
    display: inline-block;
    padding: 1rem;
    color: inherit;
    line-height: 1;
    font-family: var(--font-family-title);
    text-decoration: none;
  }
</style>
