---
import type { IconName } from "@assets/icon-sprite";
import { Icon, LocaleSelector } from "@components";

const menu: { icon: IconName, title: string, path: string }[] = [
  {
    icon: "home",
    title: "Home",
    path: "/",
  }
];
---

<nav>
  <ul class="menu">
    { menu.map((item) => (
      <li>
        <a class="menu__item" href="">
          <Icon name={item.icon} />
          <span>{ item.title }</span>
        </a>
      </li>
    )) }
  </ul>

  <LocaleSelector />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sp-md);
  }

  .menu {
    display: flex;
    list-style: none;
    padding: 0px;
  }

  .menu__item {
    display: flex;
    align-items: center;
    gap: 1ch;
  }
</style>