---
import { Icon, Link, LocaleSelector } from "@components";
import { paths, translate } from "@lib/js/i18n";

const { locale } = Astro.params;
let { links, currentPageSlugs } = Astro.props;
links = links.map((link) => {
  if (link.link.__typename === "HomeRecord") {
    link.slug = { locale };
  } else {
    link.slug = paths(link.link).filter((path) => path.locale === locale)[0];
  }
  return link;
});
---

<enhanced-nav>
  <nav class="nav">
    <button class="toggle-button" aria-expanded="false" aria-controls="menu">
      <Icon class="toggle-button__icon--open" name="bars" />
      <Icon class="toggle-button__icon--close" name="xmark" />
      <span class="toggle-button__title--open a11y-sr"
        >{translate("open_menu", locale)}</span
      >
      <span class="toggle-button__title--close a11y-sr"
        >{translate("close_menu", locale)}</span
      >
    </button>

    <div id="menu" class="expandabble-menu">
      <ul class="nav-list">
        {
          links.map((link) => (
            <li>
              {
                <Link class="nav-link" {...link}>
                  <Icon class="nav-link__icon" name={link.icon} />
                  <p class="nav-link__title">{link.title}</p>
                  <p class="nav-link__description">{link.description}</p>
                </Link>
              }
            </li>
          ))
        }
      </ul>

      <LocaleSelector slugs={currentPageSlugs} />
    </div>
  </nav>
</enhanced-nav>

<script src="./Nav.client.js"></script>

<style>
  .nav {
    display: flex;
    position: relative;
    justify-content: end;
  }

  .toggle-button {
    border: none;
    background-color: transparent;
    padding: var(--spacing-md);
    color: white;
    line-height: 1;
  }

  .toggle-button:hover {
    background-color: var(--color-hover);
  }

  .toggle-button:focus {
    outline-offset: -0.25rem;
  }

  @media screen and (min-width: 992px) {
    .toggle-button {
      display: none;
    }
  }

  .expandabble-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 1;
    background-color: var(--color-foreground);
    min-width: 320px;
    max-width: 100dvw;
  }

  .toggle-button[aria-expanded="true"] .toggle-button__icon--close,
  .toggle-button[aria-expanded="true"] .toggle-button__title--close,
  .toggle-button[aria-expanded="false"] .toggle-button__icon--open,
  .toggle-button[aria-expanded="true"] .toggle-button__title--open {
    display: block;
  }

  .toggle-button[aria-expanded="true"] .toggle-button__icon--open,
  .toggle-button[aria-expanded="true"] .toggle-button__title--open,
  .toggle-button[aria-expanded="false"] .toggle-button__icon--close,
  .toggle-button[aria-expanded="false"] .toggle-button__title--close {
    display: none;
  }

  .toggle-button[aria-expanded="true"] + .expandabble-menu {
    display: block;
  }

  .toggle-button[aria-expanded="false"] + .expandabble-menu {
    display: none;
  }

  @media screen and (min-width: 992px) {
    .toggle-button[aria-expanded="true"] + .expandabble-menu,
    .toggle-button[aria-expanded="false"] + .expandabble-menu {
      display: flex;
      position: initial;
      justify-content: space-between;
      transform: initial;
      background-color: transparent;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }

  @media screen and (min-width: 992px) {
    .nav-list {
      flex-direction: row;
    }
  }

  .nav-link {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon title" "icon description";
    column-gap: 0.75rem;
    padding: var(--spacing-md);
    color: inherit;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color: var(--color-hover);
  }

  .nav-link:focus {
    outline-offset: -0.25rem;
  }

  .nav-link__icon {
    grid-area: icon;
  }

  .nav-link__title {
    grid-area: title;
    font-family: var(--font-family-title);
    white-space: nowrap;
  }

  .nav-link__description {
    grid-area: description;
    font-size: var(--font-size-sm);
  }

  @media screen and (min-width: 992px) {
    .nav-link__description {
      display: none;
    }
  }
</style>
