---
import { Link } from "@components";

const { items } = Astro.props;
---

<nav>
  <ul class="nav-list">
    {
      items.map((item) => (
        <li>
          <Link class:list={["nav-list__link"]} {...item} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  .nav-list__link {
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    font-family: var(--ff-title);
  }
</style>
