---
import { Icon } from "@components";

const { icon, title, ...props } = Astro.props;
---

<a {...props}>
  <span class="link__icon">
    <Icon name={icon} />
  </span>
  <span class="link__title">
    {title}
  </span>
</a>

<style>
  .link {
    display: inline-flex;
    gap: 1rem;
  }
</style>
