---
import { theme } from '@assets/js'
import { Icon } from 'astro-icon/components'

const themes = [
  { title: 'System', icon: 'desktop', value: 'system' },
  { title: 'Dark', icon: 'moon', value: 'dark' },
  { title: 'Light', icon: 'sun', value: 'light' },
];

const { pathname } = Astro.url;

---

<nav aria-labelledby="theme-selector-label">
  <h3 id="theme-selector-label" class="a11y">Themes</h3>

  <theme-selector>
    <form class="theme-selector">
      { themes.map((theme) => 
        <div class="theme-selector__item">
          <label for={theme.value}>
            <span class="a11y">{ theme.title }</span>
            <Icon name={theme.icon} />
          </label>
          <input type="radio" name="theme" id={theme.value} value={theme.value} />
        </div>
      ) }
    </form>
  </theme-selector>
</nav>


<script src="./ThemeSelector.client.js"></script>

<style>
  .theme-selector {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  .theme-selector__item {
    display: flex;
    align-items: center;
  }
</style>