---
import { Icon } from "@components";

const themes = [
  { title: "System", icon: "desktop", value: "system" },
  { title: "Dark", icon: "moon", value: "dark" },
  { title: "Light", icon: "sun", value: "light" },
];

const { pathname } = Astro.url;
---

<nav aria-labelledby="theme-selector-label">
  <h3 id="theme-selector-label" class="a11y">Themes</h3>

  <theme-selector>
    <form class="theme-selector">
      {
        themes.map((theme) => (
          <label class="theme-selector__item">
            <span class="a11y">{theme.title}</span>
            <Icon name={theme.icon} />

            <input
              type="radio"
              name="theme"
              id={theme.value}
              value={theme.value}
            />
          </label>
        ))
      }
    </form>
  </theme-selector>
</nav>

<script src="./ThemeSelector.client.js"></script>

<style>
  .theme-selector {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .theme-selector__item {
    position: relative;
    line-height: 0;
    padding: 1.5em;
  }

  .theme-selector__item input {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
    margin: 0;
  }

  .theme-selector__item:has(input:checked) {
    background-color: var(--c-highlight);
  }
</style>
