---
import { Footer, Header, Seo } from "@components";

import "@lib/css/a11y.css";
import "@lib/css/layout.css";
import "@lib/css/reset.css";
import "@lib/css/theme.css";
import "@lib/css/typography.css";

const { locale } = Astro.params;
const { site, page } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Seo tags={[...site.faviconMetaTags, ...page._seoMetaTags]} />
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
